<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="59570DJDQfff.204920A8985C9"
    Publisher="CN=457EFD62-D91C-4992-872B-0F5CE97FDC67"
    Version="0.0.4.0" />

  <mp:PhoneIdentity PhoneProductId="9cb7d308-93b2-428e-9617-36597ad1a8f2" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>ms-resource:DisplayName</DisplayName>
    <PublisherDisplayName>DJDQfff</PublisherDisplayName>
    <Logo>Assets\Icons\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="ms-resource:DisplayName"
        Description="ms-resource:Description"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Icons\Square150x150Logo.png"
        Square44x44Logo="Assets\Icons\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Icons\Wide310x150Logo.png"  Square71x71Logo="Assets\Icons\SmallTile.png" Square310x310Logo="Assets\Icons\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\Icons\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
